* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  /*   background-size: 100%; */
      }

      :root {
        --gradient: linear-gradient(
            to right,
            rgb(149 114 252),
            rgb(67 231 17),
            rgb(94 94 94)
        )
     }


     
    body {
    
    
    background-image: linear-gradient(
      45deg, black 25%, #221133
      );

    color: white;
  
    display: grid;
    place-content: center;
    }
 
    @keyframes mymove {
      0%   {top: 0px; left: 0px; color: red;}
      25%  {top: 0px; left: 100px; color: blue;}
      50%  {top: 100px; left: 100px; color: yellow;}
      75%  {top: 100px; left: 0px; color: green;}
      100% {top: 0px; left: 0px; color: red;}
    }

  h1 {
    font-family: 'Big Shoulders Inline Text', cursive;
    font-size: 70px;
    background-image: var(--gradient);

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding-bottom: 0px;


   
      animation-duration: 10s;
      animation-name: mymove;
      animation-iteration-count: 1;
     
      
    }
  
  section {
   // padding: 0rem;
   // border-bottom: 4px solid #fff;

    //border-image: var(--gradient) 1;
  }

  section::after {
    content: '';
    height: 10px;
    width: 100%;
    display: block;
    padding-bottom: 0px;

    background-image: var(--gradient);
    border-radius: 0 0 4rem 4rem;
  }

  h4 {
    font-color: #DF6F29;
    display: center;
    padding-top: 20px;
    padding-bottom:: 10px;
    text-align: center;
    
  }

  a {
    text-align: center;
    content: center;
    place-content: center;
    color:aliceblue;
    //margin-left: 30%;
    
    }

  .joinBtn {
    width: 10em;
    height: 5ex;
    background-image: linear-gradient(135deg, rgb(67 231 17) 60%, #fc894d);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    align: center;
    color: #330249;
}

.joinBtn:active {
    box-shadow: 2px 2px 5px #fc894d;
    align: center;
}

capaimg {
  display: flex;
  display-content: center;
  margin-left: 80px;
}

.capa {
  display: flex;
  display-content: center;
  margin: 0 auto;
  


  border-radius: 100%;
  border: 3px solid rgb(67 231 17);
  width: 40%;
  height: 90%;
}


@media(max-width: 700px){}

@keyframes mymove {
  0%   {top: 0px; left: 0px; color: red;}
  25%  {top: 0px; left: 100px; color: blue;}
  50%  {top: 100px; left: 100px; color: yellow;}
  75%  {top: 100px; left: 0px; color: green;}
  100% {top: 0px; left: 0px; color: red;}
}

h1 {
font-family: 'Big Shoulders Inline Text', cursive;
font-size: 70px;
background-image: var(--gradient);

background-clip: text;
-webkit-background-clip: text;
color: transparent;
padding-bottom: 0px;



  animation-duration: 10s;
  animation-name: mymove;
  animation-iteration-count: 1;
 
  
}
    

