* {
  margin: 0;
  padding: 0;
  heigth: 100%;
  background-size: 100%;
}

body {
  background-image: linear-gradient(
    45deg, black 25%, #221133);
  color: white;
  margin-top: 10px;
  display: flex-column;
  margin-bottom: 100%;
  background-size: 100%;

  
 }

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  
}

h1 {
  font-family: 'Big Shoulders Inline Text', cursive;

  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: black;

  place-content: left;
  margin-left: 10%;
  display: grid;

  animation-duration: 5s;
  animation-name: mymove;
  animation-iteration-count: 1;
 
  
}



h3 {
  display: flex;
  justify-content: left;
  align-items: left;
  background-color: #6666ff;
  font-family: Aclonica;
  padding: 15px;
  margin: 20px 15px 0;
  height: 3%;
  width: 60%;
  font-size: 16px;
  color: #fff;
  border-radius: 4rem 4rem;
}


p {
  display: flex;
  margin-left: 50px;
  padding: 20px;
  width: 400px;
  height: auto;
  background-color: white;
  color: #000;
  font-family: 'Noto Sans Display', sans-serif;
  size: 50px;
  

}

.areas{
  border: 1px solid #fff;
  width: 550px;
  height: %px;
  margin: 25px 50px;
  display: block;
  padding: 0 10px 0;

} 

.areas2{
  border: 1px solid #fff;
  width: 550px;
  height: %px;
  margin: 15px 15px;
  display: block;
  padding: 0 10px 0;

} 

.areas3{
  display: grid;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  width: 550px;
  height: %px;
  margin: 15px 15px;
  display: block;
  padding: 0 10px 0;

} 

.list{
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 50px;
  color: #000;
  background: white;
  padding: 20px;
}

.tag1{
  display:block;
  margin-left: 5px;
  shadow: 0 1px 0 rgba(#fff);
}


.cabecalho{
  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
  margin: 5px auto;
}

.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  background: white;
  margin: 5% auto;
  font-family: 'Libre Barcode 39 Text', cursive;
  width: 300px;
}

/* .navegation{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Libre Barcode 39 Text', cursive;
  padding: 25px;
  
} */
    
.formacao {
  display: flex;
  justify-content: center;
  align-items: space-between;
  


}
.experiences {
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 15px;
}



.cargos{
  border: 1px solid red;
  background: red;
  width: 50%;
  height: %px;
  margin: 25px 50px;
  display: block;
  padding: 0 10px 0;
  font-size: 15px;

} 

.grade{
  display: flex;
  justify-content: center;
  align-items: space-between;
}


.outro{
  margin: 10px auto;
}

.link{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}






/* .skew-menu {
    display: inline;
    font-family: 'Libre Barcode 39 Text', cursive;
}
    
    
    
.skew-menu ul {
    display: inline-block;
    
    list-style: none;
    transform: skew(-25deg);
}
    
    
    .skew-menu ul li {
      background: rgb(67 231 17);
      float: left;
      border-right: 1px solid #DF6F29;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      text-transform: uppercase;
      color: #fffff ;
      font-weight: bolder;
      transition: all 0.5s linear;
      width: %vh;
      height: 10%vh;
      padding: 0 8px 0 8px;
      font-size: 20px;
    }
     */
    
 /*    .skew-menu ul li:first-child {
      border-radius: 7px 0 0 7px;
    }
    
    
    .skew-menu ul li:last-child {
      border-right: none;
      border-radius: 0 7px 7px 0;
    }
    
    
    .skew-menu ul li:hover {
      background: #fff;
      color: #fff;
    }
    
    
    .skew-menu ul li a {
      display: block;
      padding: 1rem 1rem 1rem;
      color: inherit;
      text-decoration: #DF6F29;
      transform: skew(25deg);
      
    } */
    
    


.slider{
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;

}

.slides{
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 25%;
  position: relative;
  transition: 1s;
}

.slide img{
  width: 790px;
  height: 400px;
 
}

.manual-navigation{
  position: absolute;
  width: 800px;
  margin-top: -56px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  
}

.manual-btn:not(:last-child){
 margin-right: 40px;
}

.manual-btn:hover{
  background-color: #fff;
}

#radio1:checked ~ .first{
  margin-left: 0%;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}

#radio4:checked ~ .first{
  margin-left: -75%;
}

.navigation-auto div{
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color:#fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color:#fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color:#fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color:#fff;
}











:root {
  --gradient: linear-gradient(
      to right,
      rgb(149 114 252),
      rgb(67 231 17),
      rgb(94 94 94)
  )
}


@keyframes mymove {
  0%   {top: 0px; left: 0px; color: red;}
  25%  {top: 0px; left: 100px; color: blue;}
  50%  {top: 100px; left: 100px; color: yellow;}
  75%  {top: 100px; left: 0px; color: green;}
  100% {top: 0px; left: 0px; color: red;}
}
  
footer{
  display: flex;
  justify-content: center;

  margin-top: 30px;
}







.button {
display: block;
margin: 0 auto;

}


/* button {
  
  color:aliceblue;

   
  } */

.joinBtn {
  width: 10em;
  height: 5ex;
  background-image: linear-gradient(135deg, #00ff00 10%, #6666ff);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  align: center;
}

.joinBtn:active {
  box-shadow: 2px 2px 5px #fc894d;
  align: center;
}

label {
      display: block;
      margin-top: 1em;
  }
  
  input:autofill {
      border: 3px solid darkorange;
  }
  
  input:-webkit-autofill {
      border: 3px solid darkorange;
  }

  

form {
  display: inline-block;
  place-content: center;
  element-size: 100px;
}

img {
  display: flex-direction;
  flex-direction: column;
  items-align: center;
  height: 150px;
  margin-left: 10px;
  margin-top: 0px;
  
}

.img2 {
  display: flex;
  flex-direction: center;
  items-align: center;
  height: 250px;
  margin-left: 8%;
  margin-top: 10px;
  
}



@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.text-base{
    font-size: 18px;
}

.paragraph{
  display: table-row-group;
  
 // overflow: hidden;
}


.paragraph1 {
  background-color: #9BE780;
  padding: 15px;
  border-radius: 25px;
  color: #330249;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: linear;
  width: 500px;
  height: 100px;
  margin-left: 500px;
  

}

.paragraph2 {
  background-color: #E7CA80;
  padding: 15px;
  border-radius: 25px;
  color: #330249;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: revert;
  animation-timing-function: ease;
  width: 600px;
  height: 190px;
  margin-left: 350px;
  

  
}

.paragraph3 {
  background-color: #80CEE7;
  padding: 15px;
  border-radius: 25px;
  color: #330249;
  margin-right: 20px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: revert;
  animation-timing-function: ease-in;
  margin-left: 200px;
  width: 600px;
  height: 190px;
  margin-left: 390px;
}

.paragraph4 {
  background-color: #9BE780;
  padding: 15px;
  border-radius: 25px;
  color: #330249;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: linear;
  width: 700px;
  height: 200px;
  margin-left: 325px;
 
  

}

.paragraph5 {
  background-color: #DF6F29;
  padding: 15px;
  border-radius: 25px;
  color: #fff;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: linear;
  width: 600px;
  height: 50px;
  margin-left: 375px;
 

}

.navegation {
  display: flex;
  font-size: 37px;
  content-align: center;
  }

.contact {
  display: block;
  content-align: center;
  text-align: center;
  justify-content: center;
}

.hobby {
  font-family: 'Noto Sans Display', sans-serif;
  color: #DF6F29;
  text-color: #fff;
}

.link {
  display: flex;
  content-align: center;
}

h5 {
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 10px;
}







///////////////////////////////////////////////////////////////////////////////////////////mobile

@media(max-width: 700px){

  * {
    margin: 0;
    padding: 0;
    
    background-size: 100%;
      }
    
body {
      background-image: linear-gradient(
        45deg, black 25%, #221133);
      height: 100%vh;
      width: 700px;
      margin-top: 20px;

}

div {
  display: box;
  place-content: center;
  font-family: 'Noto Sans Display', sans-serif;
}


.odio{
  display: flexbox ;
  justify-content: center;
  place-content: center;
  width: 280px;
  display: inline;
  width: 300px;
  height: 20%vh;
  
  
}


.skew-menu {
  display: inline;

}

.skew-menu ul  {
  display: inline-block;

  list-style: none;
  transform: skew(-25deg);
  font-size: 8px;
}

.skew-menu ul li {
 background: rgb(67 231 17);
 float: left;
 border-right: 1px solid #DF6F29;
 box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
 text-transform: uppercase;
 color: #330249;
 font-weight: bolder;
 transition: all 0.5s linear;
 width: %vh;
 height: 10%vh;
 padding: 0 8px 0 8px;
 size: 5px;
 
}

.skew-menu ul li a {
    display: block;
    padding: 10px 12px 10px 7px;
    color: inherit;
    text-decoration: #DF6F29;
    transform: skew(25deg);
  }



@keyframes mymove {
  0%   {top: 0px; left: 0px; color: red;}
  25%  {top: 0px; left: 100px; color: blue;}
  50%  {top: 100px; left: 100px; color: yellow;}
  75%  {top: 100px; left: 0px; color: green;}
  100% {top: 0px; left: 0px; color: red;}
}
  

h1 {
  font-family: 'Big Shoulders Inline Text', cursive;
  font-size: 2rem;

  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  place-content: center;
  display: grid;

  animation-duration: 5s;
  animation-name: mymove;
  animation-iteration-count: 1;
 }







  
  
 .slider{
  margin: 0 auto;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.slides{
  width: 300%;
  height: 200px;
 // display: flex;
}

.slides input{
 // display: none;
}

.slide{
 // width: 25%;
 // position: relative;
 // transition: 2s;
}

.slide img{
  width: 300px;
  height: 200px;
 
}

.manual-navigation{
  position: absolute;
  width: 300px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  
}

.manual-btn:not(:last-child){
 margin-right: 40px;
}

.manual-btn:hover{
  background-color: #fff;
}

#radio1:checked ~ .first{
  margin-left: 0%;
}

#radio2:checked ~ .first{
  margin-left: -10%;
}

#radio3:checked ~ .first{
  margin-left: -20%;
}

#radio4:checked ~ .first{
  margin-left: -30s%;
}

.navigation-auto div{
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  position: absolute;
  width: 300px;
  margin-top: 160px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color:#fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color:#fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color:#fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color:#fff;
}






  @keyframes slidein {
    from {
      margin-left: 000%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


  .contact {
    display: block;
    content-align: center;
    text-align: center;
    justify-content: center;
  }

  h3 {
    display: flex;
    //place-content: left;
    background-color: #DF6F29;
  
    font-family: 'Noto Sans Display', sans-serif;
  
    padding: 3px;
    margin-left: 0px;
    margin-right: 00px;
    height: 20%vh;
    width: 00%vh;
    display: block;
  
    font-size: 13px;
    color: #330249;
    text-align: center;
  
    border-radius: 0 0 4rem 4rem;
     
  }

  button {
  
    color:aliceblue;
    margin-left: 60%;
     
    }

    .joinBtn {
      width: 8em;
      height: 4ex;
      background-image: linear-gradient(135deg, #DF6F29 60%, #ffff);
      border: none;
      border-radius: 5px;
      font-weight: bold;
      color: white;
      cursor: pointer;
      align: center;
    }

    


    .hobby {
      text-decoration :  none ;
      color: white;
    }

    p {
     display: flex;
      margin-left: 0px;
      padding: 0px;
      box-sizing: border-box;
      display: center;
      color-text: 'white';
      font-family: 'Noto Sans Display', sans-serif;
      font-size: 13px;
      }
    

.paragraph { 
      display: block;
      width: 380px;
      height: 100%vh;
      color: #fff;
  }

.text-base{
     font-size: 55px;
  }
  
.paragraph1 {
    background-color: #9BE780;
    padding: 15px;
    border-radius: 50px;
    color: #330249;
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: linear;
 //   width: 70px;
 //   height: 70px;
    
      }
  
  .paragraph2 {
    background-color: #E7CA80;
    padding: 15px;
    border-radius: 25px;
    color: #330249;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: revert;
    animation-timing-function: ease;
//    width: 200px;
 //   height: 100px;
  }
  
  .paragraph3 {
    background-color: #80CEE7;
    padding: 15px;
    border-radius: 25px;
    color: #330249;
    margin-right: 20px;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: revert;
    animation-timing-function: ease-in;

  }
  
  .paragraph4 {
    background-color: #9BE780;
    padding: 15px;
    border-radius: 25px;
    color: #330249;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: linear;
  
  }
  
  .paragraph5 {
    background-color: #DF6F29;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: linear;
    width: 200px;
    height: 50px;
 }

