* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  heigth: 100%;
  background-size: 100%;
}

body {
  background-image: linear-gradient(
    45deg, black 25%, #221133);
  color: white;
  margin-top: 10px;
  display: flex-column;
  justify-content: center;
  margin-bottom: 100vh;
  background-size: 100vw;
  min-height: 100vw;
  min-width: 100vw;
 }

.painel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2.3vh 2vh;
  
}

a {
  text-decoration: none;
}
.imgpainel {
  display: grid;
  flex-wrap: wrap;
  margin: 1.2607561929595828vh 1.2607561929595828vh ;
  font-family: 'Big Shoulders Inline Text', cursive;
  border-radius: 50%;
  padding: 1.5645371577574967vh 0 0 0;
  background-image: linear-gradient(to right, #6666ff, #fff);
  width: 20vh;
  height: 20vh;
  box-shadow: 0.1vh 0.1vh #fff, - 1vh 0 0.8vh #6666ff;
}

.imgIcon{
  display: flex;
  flex-wrap: wrap;
/*   margin:  0.39113428943937417vh auto 0 auto; */
  width: 9vh;
  height: auto;
  position: stick;
  top: 0.00005vh;
  left: 0.0005vh;

  padding: 0 0 0 0;
}

.icon1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
  text-align: center; 
  margin: 0vh 2vh 4vh 2vh;
  font-family: 'Big Shoulders Inline Text', cursive;
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: black;
  box-shadow: 0.1vh 0.1vh #fff, - 1vh 0 0.8vh #6666ff;

  animation-duration: 15s;
  animation-name: mymove;
  animation-iteration-count: 3s;
  

}

.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Big Shoulders Inline Text', cursive;
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: black;
  place-content: left;
  margin-left: 10%;
  display: grid;
  animation-duration: 5s;
  animation-name: mymove;
  animation-iteration-count: 1;
}

h3 {
  display: flex;
  flex-wrap: wrap;
  gap:2;
  justify-content: center;
  align-items: center;
  background-color: #6666ff;
  font-family: Aclonica;
  padding: 3%;
  margin: 3% auto 0 auto;
  width: 70%;
  font-size: 100%;
  color: #fff;
  border-radius: 4rem 4rem;
}

h5 {
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 10px;
} 

p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  padding: 2% 5%;
  width: 90%;
  height: auto;
  background-color: white;
  color: #000;
  font-family: 'Noto Sans Display', sans-serif;
  size: 100%;
}

.areas , .areas2 , .areas3{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   border: 1px solid #fff;
   width: 550px;
   height: %px;
   margin: 2%;
   padding: 0 1% 2%;
} 


.list{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 280%;
  color: #000;
  background: white;
  padding: 2vh;
  margin-bottom: 5%;
}

.tag1{
  display:flex;
  flex-wrap: wrap;
  margin-left: 5px;
  shadow: 0 1px 0 rgba(#fff);
}


.cabecalho{
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  margin: 5px auto;
}

.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  background: white;
  margin: 5% auto;
  font-family: 'Libre Barcode 39 Text', cursive;
  width: 300px;
}

    
.formacao {
  display: flex;
  flex-wrap: wrap;
  gap: 2;
  justify-content: center;
  align-items: space-between;
}

.cargos{
  border: 1px solid red;
  background: red;
  width: 50%;
  height: %px;
  margin: 25px 50px;
  display: block;
  padding: 0 10px 0;
  font-size: 15px;

} 

.grade{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
}

.outro{
  margin: 10px auto;
}

.link{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  text-decoration: none;
  color: white;
}

.containerSlider {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex: wrap;
  justify-content: center;
  align-items: center;

}

.sliderControle {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  margin: 0 104.30247718383312vh;
}

.slider{
  display: flex;
  flex-wrap: wrap;
  gap: 0;
/*   margin: 0 5vh 0 auto; */
  width: 104.30247718383312vh;
  height: 52.15123859191656vh;
  overflow: hidden;
}

.slides{
  width: 400%;
  height: 52.15123859191656vh;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 25%;
  position: relative;
}

.slide img{
  width: 104.30247718383312vh;
}

.manual-navigation{
  position: absolute;
  width: 104.30247718383312vh;
  margin-top: -40%;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  justify-content: center;
}

.manual-btn{
  border: 0.2607561929595828vh solid #20a6ff;
  padding: 0.651890482398957vh;
  border-radius: 1.303780964797914vh;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
 margin-right: 5.215123859191656vh;
}

.manual-btn:hover{
  background-color: #fff;
}

#radio1:checked ~ .first{
  margin-left: 0%;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}

#radio4:checked ~ .first{
  margin-left: -75%;
}

.navigation-auto div{
  border: 0.2607561929595828vh solid #20a6ff;
  padding: 0.651890482398957vh;
  border-radius: 1.303780964797914vh;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  position: absolute;
  width: 104.30247718383312vh;
  margin-top: 46.9361147327249vh;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 5.215123859191656vh;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color:#fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color:#fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color:#fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color:#fff;
}


:root {
  --gradient: linear-gradient(
      to right,
      rgb(149 114 252),
      rgb(67 231 17),
      rgb(94 94 94)
  )
}


@keyframes mymove {
  0%   {top: 0px; left: 0px; color: rgb(149 114 252);}
  25%  {top: 0px; left: 100px; color: rgb(67 231 17);}
  50%  {top: 100px; left: 100px; color: rgb(94 94 94);}
  75%  {top: 100px; left: 0px; color: white;}
  100% {top: 0px; left: 0px; color: rgb(149 114 252);}
}
  
footer{
  display: flex;
  justify-content: center;

  margin-top: 30px;
}


.button {
display: block;
margin: 0 auto;
}


.joinBtn {
  width: 10em;
  height: 5ex;
  background-image: linear-gradient(135deg, #00ff00 10%, #6666ff);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  align: center;
}

.joinBtn:active {
  box-shadow: 2px 2px 5px #fc894d;
  align: center;
}

label {
      display: block;
      margin-top: 1em;
  }
  
  input:autofill {
      border: 3px solid darkorange;
  }
  
  input:-webkit-autofill {
      border: 3px solid darkorange;
  }

  

form {
  display: inline-block;
  place-content: center;
  element-size: 100px;
}


img , .img2 {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-items: center;
  items-align: center;
  width: 90%;
  margin-left: auto;
  margin-right:auto;
  margin-top: 10px;
}


.artes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid #fff;
  padding-bottom: 2vh;
}


.img3 {
  width: 25vh;
  height: auto;
  margin-left: 1vh;
  margin-right:1vh;
  margin-top: 2vh;
 }

.linkartes {
  display: flex;
  flex-wrap: wrap;
  gap:2;
  justify-content: center;
  align-items: center;
  background-color: #6666ff;
  font-family: Aclonica;
  padding: 3%;
  margin: 3% auto 0 auto;
  width: 70%;
  font-size: 100%;
  color: #fff;
  border-radius: 4rem 4rem;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.text-base{
    font-size: 18px;
}

.paragraph{
  display: table-row-group;
}

.navegation {
  display: flex;
  font-size: 37px;
  content-align: center;
  }

.contact {
  display: block;
  content-align: center;
  text-align: center;
  justify-content: center;
}

.hobby {
  font-family: 'Noto Sans Display', sans-serif;
  color: #DF6F29;
  text-color: #fff;
}

.link {
  display: flex;
  content-align: center;
}







