* {
  margin: 0;
  padding: 0;

  background-size: 100%;
    }

header {
  display: grid;
  place-content: center;
}

body {
  background-image: linear-gradient(
    45deg, black 25%, #221133);
  color: white;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 50px;
  
}

:root {
  --gradient: linear-gradient(
      to right,
      rgb(149 114 252),
      rgb(67 231 17),
      rgb(94 94 94)
  )
}


h1 {
  font-family: 'Big Shoulders Inline Text', cursive;
  font-size: 4rem;

  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  place-content: center;
  display: grid;
  
}



h3 {
  display: flex;
  //place-content: left;
  background-color: #DF6F29;

  font-family: 'Noto Sans Display', sans-serif;

  padding: 6px;
  margin-left: 0px;
  margin-right: 00px;
  //item-align: left;
  

    height: 20%vh;
    width: 00%vh;
    display: block;

    font-size: 16px;
    color: #330249;
    text-align: center;

    border-radius: 0 0 4rem 4rem;
  

}


p {
  display: flex;
  margin-left: 20;
  padding: 20;
  box-sizing: border-box;
  display: center;
  color-text: 'white';
  font-family: 'Noto Sans Display', sans-serif;

}

div {
  display: block;
  place-content: center;
  font-family: 'Noto Sans Display', sans-serif;

}

.button {
display: block;

}

.skew-menu {
  display: inline;
  width: 19%vh;
  height: 10%vh;
  content-widt: 18px;
 
  
}
.skew-menu ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: skew(-25deg);
  


}


.skew-menu ul li {
  background: rgb(67 231 17);
  float: left;
  border-right: 1px solid #DF6F29;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #330249;
  font-weight: bolder;
  transition: all 0.5s linear;
  width: 19%vh;
  height: 10%vh;
  font-size: 18px;
  padding-right: 5px;
  font-size: 13px;


}
.skew-menu ul li:first-child {
  border-radius: 7px 0 0 7px;
}


.skew-menu ul li:last-child {
  border-right: none;
  border-radius: 0 7px 7px 0;
}


.skew-menu ul li:hover {
  background: #fff;
  color: #fff;
}


.skew-menu ul li a {
  display: block;
  padding: 1em 2em;
  color: inherit;
  text-decoration: #DF6F29;
  transform: skew(25deg);
 
}



button {
  
  color:aliceblue;
  margin-left: 75%;
   
  }

.joinBtn {
  width: 10em;
  height: 5ex;
  background-image: linear-gradient(135deg, #DF6F29 60%, #ffff);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  align: center;
}

.joinBtn:active {
  box-shadow: 2px 2px 5px #fc894d;
  align: center;
}

label {
      display: block;
      margin-top: 1em;
  }
  
  input:autofill {
      border: 3px solid darkorange;
  }
  
  input:-webkit-autofill {
      border: 3px solid darkorange;
  }

  

form {
  display: inline-block;
  place-content: center;
  element-size: 100px;
}

img {
  display: flex-direction;
  flex-direction: column;
  items-align: center;
  height: 150px;
  margin-left: 10px;
  margin-top: 0px;
  
}

.paragraph {
  background-color: #DF6F29;
  padding: 25px;
  border-radius: 25px;
  color: #330249;
}

.paragraph1 {
  background-color: #9BE780;
  padding: 15px;
  border-radius: 25px;
  color: #330249;
  
}

.paragraph2 {
  background-color: #E7CA80;
  padding: 15px;
  border-radius: 25px;
  color: #330249;
  margin-left: 20px;
}

.paragraph3 {
  background-color: #80CEE7;
  padding: 15px;
  border-radius: 25px;
  color: #330249;
  margin-right: 20px;
}

.navegation {
  display: flex;
  font-size: 37px;
  content-align: center;
  }

.contact {
  display: block;
  content-align: center;
  text-align: center;
  justify-content: center;
}

.hobby {
  font-family: 'Noto Sans Display', sans-serif;
  color: #DF6F29;
  text-color: #fff;
}

.link {
  display: flex;
  content-align: center;
}

h5 {
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 10px;
}

.experiences {
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 8px;
}

@media(max-width: 700px){
    
    body {
      background-image: linear-gradient(
        45deg, black 25%, #221133);
      color: white;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 30px;
}

.skew-menu {
  min-width: 100%;
}

.skew-menu ul  {
  min-width: 100%;
}

.skew-menu ul li {
  min-width: 10%;
  content-size: 00%;
  display: flex;  
  padding-right: 0px;
  font-size: 6px;
  
}

h1 {
  font-family: 'Big Shoulders Inline Text', cursive;
  font-size: 2rem;

  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  place-content: center;
  display: grid;
  
}

p {
  display: flex;
  margin-left: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: center;
  color-text: 'white';
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 13px;
}
  .paragraph {
    background-color: #DF6F29;
    padding: 15px;
    border-radius: 25px;
    color: #330249;
  }

  .paragraph1 {
    background-color: #9BE780;
    padding: 15px;
    border-radius: 25px;
    color: #330249;
    
  }

  .paragraph2 {
    background-color: #E7CA80;
    padding: 15px;
    border-radius: 25px;
    color: #330249;
    margin-left: 20px;
  }

  .paragraph3 {
    background-color: #80CEE7;
    padding: 15px;
    border-radius: 25px;
    color: #330249;
    margin-right: 20px;
  }


  .navegation {
    display: flex;
    font-size: 25px;
    content-align: center;
    }
  
  .contact {
    display: block;
    content-align: center;
    text-align: center;
    justify-content: center;
  }

  h3 {
    display: flex;
    //place-content: left;
    background-color: #DF6F29;
  
    font-family: 'Noto Sans Display', sans-serif;
  
    padding: 3px;
    margin-left: 0px;
    margin-right: 00px;
    //item-align: left;
    
  
      height: 20%vh;
      width: 00%vh;
      display: block;
  
      font-size: 13px;
      color: #330249;
      text-align: center;
  
      border-radius: 0 0 4rem 4rem;
     
  }

  button {
  
    color:aliceblue;
    margin-left: 60%;
     
    }

    .joinBtn {
      width: 8em;
      height: 4ex;
      background-image: linear-gradient(135deg, #DF6F29 60%, #ffff);
      border: none;
      border-radius: 5px;
      font-weight: bold;
      color: white;
      cursor: pointer;
      align: center;
    }

    
    form {
      display: flex;
      place-content: left;
      element-size: 50px;
      content-align: center;
      text-decoration : none ;
      color: black;

    }

    .hobby {
      text-decoration :  none ;
      color: white;
    }